<div class="row wrapper border-bottom white-bg page-heading ng-scope">
    <div class="col-lg-10">
        <h2>Users</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Users</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="row animated fadeInRight" style="margin-top:15px;">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Users</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6 b-r">
                        <div class="feed-activity-list">
                            <div class="feed-element" *ngFor="let user of users">
                                <a href="#" class="pull-left">
                                    <img alt="image" class="img-circle"
                                         src="assets/images/profile_picture/{{user.imagePath}}">
                                </a>
                                <div class="media-body">
                                            <span class="pull-right" *ngIf="user.id != loggedInUser.id">
                                                <button class="btn btn-primary" *ngIf="user.follow" title="Unfollow"
                                                        (click)="unFollow(user)">
                                                    <i class="fa fa-user-times"></i>
                                                </button>
                                                <button class="btn btn-primary" *ngIf="!user.follow" title="Follow"
                                                        (click)="follow(user)">
                                                    <i class="fa fa-user-plus"></i>
                                                </button>
                                            </span>
                                    <strong>{{user.nameFull}}</strong> <br/>
                                    <small class="text-muted">
                                        Tweets: {{user.totalTweets}} - Followers: {{user.totalFollowing}} -
                                        Following:
                                        {{user.totalFollowing}}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>