<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element">
                    <img alt="image" class="img-responsive img-circle"
                         src="assets/images/profile_picture/{{user.imagePath}}">
                    <span class="block m-t-xs">
                        <strong class="font-bold" style="color: white;">{{user.nameFull}}</strong>
                    </span>
                </div>
                <div class="logo-element" style="color: white">
                    {{user.nameFull}}
                </div>
                <ul class="list-group clear-list m-t" style="color:white;margin-bottom:0px;">
                    <li class="list-group-item" style="margin-bottom: 5px;">
                        Tweets <span class="pull-right label label-warning"
                                     style="padding-bottom: 7px;padding-top:8px;"> {{user.totalTweets}} </span>
                    </li>
                    <li class="list-group-item" style="margin-bottom: 5px;">
                        Following <span class="pull-right label label-warning"
                                        style="padding-bottom: 7px;padding-top:8px;"> {{user.totalFollowing}} </span>
                    </li>
                    <li class="list-group-item" style="margin-bottom: 5px;">
                        Followers <span class="pull-right label label-warning"
                                        style="padding-bottom: 7px;padding-top:8px;"> {{user.totalFollowers}} </span>
                    </li>
                </ul>
            </li>
            <li>
                <a [routerLink]="['../tweets']"><i class="fa fa-align-left"></i> <span class="nav-label">Timeline</span></a>
            </li>
            <li>
                <a [routerLink]="['../tweets/' + user.id]"><i class="fa fa-user"></i> <span
                        class="nav-label">Profile</span></a>
            </li>
            <li>
                <a [routerLink]="['../users']"><i class="fa fa-users"></i> <span
                        class="nav-label">Search Users</span></a>
            </li>
            <li>
                <a [routerLink]="['../users/'  + user.id]"><i class="fa fa-wrench"></i> <span
                        class="nav-label">Settings</span></a>
            </li>
        </ul>
    </div>
</nav>

